<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.g_prepapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.G_Prepapp"
        android:usesCleartextTraffic="true">
        <activity android:label="Loglist" android:name=".B41.LogListActivity" />

        <activity android:label="Update profile" android:name=".UpdateProfileActivity"></activity>

        <activity
            android:label="Learning"
            android:name=".Learn.LearningActivity"
            android:screenOrientation="portrait" />
        <activity
            android:label="History"
            android:name=".History.HistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:label="Quiz"
            android:name=".Quiz.QuizActivity"
            android:screenOrientation="portrait" />
        <activity
            android:label="Home"
            android:name=".Category.MainRoomActivity"
            android:screenOrientation="portrait" />
        <activity
            android:label="Register"
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:label="Login"
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

    </application>

</manifest>